<div class="row">
  <div class="col-md-6">
    <div class="intro">
      <%= t ".intro" %>.
    </div>
    <%= image_tag "social.png", alt: t(".social_network"), class: "img-responsive" %>
  </div>
  <div class="col-md-6 center">
    <h1><%= t ".create_an_account" %></h1>
    <h3 class="center">
      <%= t ".free" %>.
    </h3>
    <%= render template: "devise/registrations/new" %>
  </div>
</div>
